* {
	margin: 0;
	padding: 0;
	
		
}
body {
	font-size: 1em;
  	width: 100%;
	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	background-color: #bdbebd;
	
}
	
/* --------------------- CABEÇALHO ----------------------------------------------------------------- */	
#cabecalho {
	background-color: #45ac45;
  	width: 100%;
	height: 80px;
	text-align: start;

}

#cabecalho h1{
	text-align: center;
	padding-left: 20px;
	padding-top: 20px;
}

.rodape {
	
	overflow-x: hidden;
	padding-top: 15px;
	width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color:#45ac45;
	color: rgb(255, 255, 255);
	
}

.rodape h4 {
	
	padding-bottom: 15px;
	
}
/* --------------------- ASIDE MENU */
#showMenu{
	display: none;
}

 #menu-lateral {
	 padding-top: 20px;
	background-color: #74e274;

	position: relative;
	width: 200px;
	min-height: 90vh;

	float:left;
	display: block;
	
 
}

#menu ul li{
	display: flex; /* transforma elementos de bloco em inline */
	padding-left: 5px;
	padding-top: 10px;
}
#menu a {
	text-decoration: none;	
}

#menu a:link, a:visited {
	color:rgb(5, 181, 235);
}

#menu a:hover {
	text-decoration: underline;
}

#menu a:link {
	color: rgb(2, 1, 1);
	font-weight: bold;
	padding: 8px 12px;
}

#menu a:hover {
	color: #037412;
	background: #FFF;
	text-decoration: none;
}
#menu hr {

	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border: 10px solid black;
	border-width: 1px;
	
}
#menu h1:hover{
	cursor: pointer;
}

#menu h1 {

	color: red;
	padding-left: 15px;
	

 }

/* ------------------------ MAIN*/
.main {
	
	background-color: #bdbebd;
	height: 100vh;
	width: 100%;

}

.main h1 {
	padding-top: 200px;
	vertical-align: middle;
	
	color: #050505;
	text-align: center;


}

/*----------------- CADASTROS*/

.dias-semana{

	display: grid;
	align-items: flex-start;

	margin-bottom: 30px;
	
}

.main-div-opcoes-cad {

	width: 30%;
	/* Safari and Chrome */
	padding-left: 40%;
	padding-top: 10%;

}

.main-div-opcoes-cad  ul li{
	display: flex; /* transforma elementos de bloco em inline */
	
	padding-top: 20px;
}

.main-div-opcoes-cad  span{
	font-size: 50px;
	color: #037412;
	padding-top: 10px;
}
.main-div-opcoes-cad span:hover{
	cursor: pointer;
}

.main-div-opcoes-cad span:hover {
	text-decoration: underline;
}

.main-div-opcoes-cad  a {
	text-decoration: none;	
}
/*----------------- CAD ALUNO*/


.main-div-cad-item {
	
	position: relative;
	z-index: 1;
	background: #e2dfdf;
	max-width: 460px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top: 80px;
	width: 40%;

}

.main-div-cad-item .form-input {
	outline: 0;
	background: #ffffff;
	border-bottom: 20px solid rgb(231, 210, 15);
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  
  }
.main-div-cad-item .button-cad {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#05830c;
	width: 50%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .main-div-cad-item .button-cad-edit {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#05830c;
	width: 70%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

  /* -------------------------- ALUNOS --------------------- */

  .main-div-items {
	
	display: block;
	position: static;
	z-index: 1;
	background: #e2dfdf;
	width: 800px;
	margin: 0 auto 100px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top: 60px;
	
	
}

.lista{

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

}

.item{

	width: 1300px;
	min-height: 30px;
	padding-top: 10px;
	
	flex-direction: row;
	flex-wrap: wrap;

	background-color: #cac7c7;
	border: 1px solid #0c0c0c;
	margin: 5px;
	transition: 0.5s;

}

.item .opcoes{

	position: relative ;
	float: right;
	padding-right: 15px;

}

.item  a {
	text-decoration: none;	
}

.header-lista-items{

	width: 1300px;
	min-height: 30px;
	padding-top: 10px;
	
	flex-direction: row;
	flex-wrap: wrap;

	background-color: #f1f1f1;
	border: 1px dotted #0c0c0c;
	margin: 5px;
	transition: 0.5s;

}

.header-lista-items .input-search-item{
	outline: 0;
	width: 50%;
	padding: 5px;
	border: 1px solid gray;
	background: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;

}
.header-lista-items .button-search-item {

	font-family: "Roboto", sans-serif;
	
	outline: 0;
	background:#05830c;
	padding: 5px;
	border: 0;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

.header-lista-items h3{
	padding-bottom: 10px;
	color: #039297;
	position: relative ;
	float: left;
	padding-left: 15px;


}

.header-lista-items .procura-item {

	position: relative ;
	float: right;
	width: 30%;
	padding-right: 15px;

}

.item .nome-item {

	position: relative ;
	float: left;
	padding-left: 15px;

}

.item .item-editar {
	padding: 10px;
	color: #064fad;
}
.item .item-deletar {
	padding: 10px;
	color: #e2280f;
}

.item .item-visu {
	padding: 10px;
	color: #0d5e1a;
}
.item .item-registro {
	padding: 10px;
	color: #064fad;
}
.item .item-encerrar {
	padding: 10px;
	color: #e2280f;
}

.item .item-alunos {
	padding: 10px;
	color: #0d5e1a;
}

/* ------------ -------------------------------cad turma*/
 .horario {
	padding-left: 15px;
	width: 90%;
 }
.aluno-check {
	padding-top: 10px;
	padding-bottom: 20px;
	
}

/*--------------------------------- REG TURMA*/

.main-div-cad-item-reg {
	
	position: relative;
	z-index: 1;
	background: #e2dfdf;
	max-width: 460px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top: 80px;
	width: 80%;

}
.main-div-cad-item-reg .form-input {
	outline: 0;
	background: #ffffff;
	border-bottom: 20px solid rgb(231, 210, 15);
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  
  }
  .main-div-cad-item-reg .button-cad {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#05830c;
	width: 50%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .main-div-cad-item-reg .button-cad-edit {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#05830c;
	width: 70%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .main-div-cad-item-reg .title {

	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #037412;
  }

  .main-div-cad-item-reg .pres-alunos {

	background-color: white;
	padding: 15px;
	max-height: 250px;
	overflow-y: scroll;
  }

  .main-div-cad-item-reg .button-cad {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#05830c;
	width: 50%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	margin-top: 15px;
  }
/*------------------------ SELECT */
.select {

	padding: 20px;
}
.select-css {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
	  for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
	  
	*/
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .65em auto, 100%;
  }
  /* Hide arrow icon in IE browsers */
  .select-css::-ms-expand {
	display: none;
  }
  /* Hover style */
  .select-css:hover {
	border-color: #888;
  }
  /* Focus style */
  .select-css:focus {
	border-color: #aaa;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
  }
  
  /* Set options to normal weight */
  .select-css option {
	font-weight:normal;
  }
  
  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
  }
  
  /* Disabled styles */
  .select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  }
  
  .select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
  }
  
  
  @media only screen and (max-width: 700px){
	#showMenu{
		display: block;
		padding-left: 20px;

	}

	#menu-lateral {
		padding-top: 20px;
	   background-color: #74e274;
	   position: relative;
	   width: 110%;
	   min-height: 100%;
	   display: block;
	   
	
   }
   .lista{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

}

   #menu ul li{
	display: flex; /* transforma elementos de bloco em inline */
	padding-left: 5px;
	padding-top: 10px;
	}
	.header-lista-items .procura-item {

		position: relative ;
		float: right;
		width: 100%;
		padding-right: 15px;
	
	}
	
	#showMenu{
		margin-left: 15px;
		margin-bottom: 15px;

		width: 10vh;
		display: block;
		align-self: baseline;
		background-color:#2ab407;
		color: rgb(255, 255, 255);
		border: 1px solid rgb(0, 0, 0);
		padding: 5px;
	
	}
	.main-div-opcoes-cad {

		width: 100%;
		display: flex;
		/* Safari and Chrome */
		padding-left: 10%;
		padding-top: 10%;
		font-size: 15px;
	
	}
	.main-div-opcoes-cad  span{
		font-size: 30px;
		color: #037412;
		padding-top: 10px;
	}
	.main-div-opcoes-cad  ul li{
		display: flex; /* transforma elementos de bloco em inline */
		
		padding-top: 20px;
	}

	.main-div-cad-item-reg {
		display: flex;
		position: relative;
		z-index: 1;
		background: #e2dfdf;
		max-width: 460px;
		margin: 0 auto 100px;
		padding: 45px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		margin-top: 80px;
		width: 80%;
	
	}
	.main-div-cad-item-reg .pres-alunos {

		background-color: white;
		padding: 15px;
		max-height: 350px;
		overflow-y: scroll;
	  }
	.main-div-cad-item-reg .button-cad {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background:#05830c;
		width: 60%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		margin-top: 15px;
	  }

	  .cad-turma .button-cad {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background:#05830c;
		width: 60%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 10px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	  }
	.main-div-items {
	
		display: flex;
		position: relative;
		z-index: 1;
		background: #e2dfdf;
		width: 100%;
		margin: 0 auto 100px;
		padding: 10px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		margin-top: 100px;
		
		
	}
	#cabecalho {
		background-color: #45ac45;
		width: 110%;
		height: 80px;
		text-align: start;
	
	}
	
	#cabecalho h1{
		text-align: center;
		font-size: 20px;
		padding-left: 20px;
		padding-top: 20px;
	}
	.main {
	
		background-color: #bdbebd;
		height: 100%;
		width: 100%;
	
	}
	.item .nome-item {

		position: relative ;
		float: left;
		
		padding-left: 15px;
	
	}
	
	.item .item-editar {
		font-size: 15px;
		padding: 5px;
		color: #064fad;
	}
	.item .item-deletar {
		font-size: 15px;
		padding: 5px;
		color: #e2280f;
	}
	
	.item .item-visu {
		font-size: 15px;
		padding: 5px;
		color: #0d5e1a;
	}
	.item .item-registro {
		font-size: 15px;
		padding: 5px;
		color: #064fad;
	}
	.item .item-encerrar {
		font-size: 15px;
		padding: 5px;
		color: #e2280f;
	}
	
	.item .item-alunos {
		font-size: 15px;
		padding: 5px;
		color: #0d5e1a;
	}
	#cabecalho h1{
		text-align: start;
		padding-left: 20px;
		padding-top: 20px;
	}

	.item .opcoes {

		float: left;
	}

	.main-div-cad-item {

		display: flex;
		
		z-index: 1;
		background: #e2dfdf;
		width: 70%;
		margin: 0 auto 100px;
		padding: 45px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		margin-top: 150px;
		
	
	}
	
	.main-div-cad-item .form-input {
		outline: 0;
		background: #ffffff;
		border-bottom: 20px solid rgb(231, 210, 15);
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
	  
	  }
	.main-div-cad-item .button-cad {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background:#05830c;
		width: 70%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 13px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	  }
	  .main-div-cad-item .button-cad-edit {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background:#05830c;
		width: 70%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	  }
	  .rodape {
		display: none;
		overflow-x: hidden;
		padding-top: 15px;
		width: 100%;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		text-align: center;
		background-color:#45ac45;
		color: rgb(255, 255, 255);
		
	}
	

  }